

<ul class="pagination">
		<li><a href="contact.jsp">Contact Andrew</a></li>
		<li><a href="index.jsp">Back to Home</a></li>
		<li><a href="me.jsp">Profile</a></li>
		<li><a href="http://www.archlinux.org"><img src="archlinux.jpg" height="20" width="20"></a></li>
		<li><a href="date.jsp">Date</a></li>
		<li><a href="addProduct">Add a Product to the list</a></li>
		<li><a href="products">Products for Sale</a></li>
		<li><a href="removeProducts">Remove Products</a></li>
	</ul>